<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
</head>
<body>
    History <br><br>
    <%- include("./partials/nav.ejs") %>
    <table border="1">
        <thead>
            <th>Order ID</th>
            <th>Patient's Name</th>
            <th>Medicine Name</th>
            <th>Date</th>
            <th>Information</th>
        </thead>
        <% for(let i in data) { %>
            <tr>
                <td><%= data[i].id %> </td>
                <td><%= data[i].Patient.name %> </td>
                <td><%= data[i].Medicine.name %> </td>
                <td><%= data[i].date %> </td>
                <td><%= data[i].information %> </td>
            </tr>
        <% } %> 
    </table> 
</body>
</html>